<?xml version="1.0"?>

<configuration>
	<connectionStrings>
		<add name="connection" connectionString="Data Source=103.191.208.118;Initial Catalog=idealtec_r3_college_bus;User ID=idealtec_r3_college_bus;Password=Mpiti@123;Integrated Security = false;Persist Security Info=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
